<a href="https://colab.research.google.com/github/AminuHabib/New-York-Cabs-Travel-Behavior-Data-Pipeline/blob/main/app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Connecting Drive to Colab** \
Mounting Google Drive

In [146]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Reading Data from Drive** \
Unzipping the data

In [147]:
!unzip "/content/drive/MyDrive/New-York-Data/train.zip"

Archive:  /content/drive/MyDrive/New-York-Data/train.zip
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

**Setting up PySpark in Colab**

In [148]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

Installing Apache Spark 3.0.1 with Hadoop 2.7 from the link

In [149]:
!wget -q https://downloads.apache.org/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz

To unzip that folder

In [150]:
!tar xf spark-3.1.1-bin-hadoop2.7.tgz

Install findspark library

In [151]:
!pip install -q findspark

To set the environment path

In [152]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop2.7"

To locate Spark in the system

In [153]:
import findspark
findspark.init()

To know the location where Spark is installed

In [154]:
findspark.find()

'/content/spark-3.1.1-bin-hadoop2.7'

To view the Spark UI

In [155]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels

--2021-05-11 19:57:41--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 52.204.190.140, 34.193.189.47, 34.233.212.111, ...
Connecting to bin.equinox.io (bin.equinox.io)|52.204.190.140|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip.1’

ngrok-stable-linux- 100%[===================>]  13.19M  6.55MB/s    in 2.0s

2021-05-11 19:57:44 (6.55 MB/s) - ‘ngrok-stable-linux-amd64.zip.1’ saved [13832437/13832437]

Archive:  ngrok-stable-linux-amd64.zip
replace ngrok? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
{"tunnels":[{"name":"command_line","uri":"/api/tunnels/command_line","public_url":"https://31c85f4c7aeb.ngrok.io","proto":"https","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}},{"name":"command_line (http)","uri":"/api/tunnels/command_line%20%28http%29","public_url":"http://31c85f4c7aeb.ngrok.io","proto":"http","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}}],"uri":"/api/tunnels"}

Loading data into PySpark

In [156]:
data = spark.read.csv("train.csv", header=True, inferSchema=True)

Understanding the Data

In [157]:
data.printSchema()

root
 |-- id: string (nullable = true)
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- trip_duration: integer (nullable = true)

To display the informations

In [158]:
data.show(5)

+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+
|       id|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|  pickup_longitude|   pickup_latitude| dropoff_longitude|  dropoff_latitude|store_and_fwd_flag|trip_duration|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+
|id2875421|        2|2016-03-14 17:24:55|2016-03-14 17:32:30|              1| -73.9821548461914| 40.76793670654297|-73.96463012695312|40.765602111816406|                 N|          455|
|id2377394|        1|2016-06-12 00:43:35|2016-06-12 00:54:38|              1|-73.98041534423828|40.738563537597656|-73.99948120117188| 40.73115158081055|                 N|          663|
|id3858529|        2|2016-01-19 11:35:24|2016-01-19 12:10:48|              1| -73.9790267944336|40.763938903808594|-74.00533294677734|40.710086822509766|                 N|         2124|
|id3504673|        2|2016-04-06 19:32:31|2016-04-06 19:39:40|              1|-74.01004028320312|   40.719970703125|-74.01226806640625| 40.70671844482422|                 N|          429|
|id2181028|        2|2016-03-26 13:30:55|2016-03-26 13:38:10|              1|-73.97305297851562|40.793209075927734| -73.9729232788086| 40.78252029418945|                 N|          435|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+
only showing top 5 rows

To count the number of rows

In [159]:
data.count()

1458644

In [160]:
data.select("pickup_datetime","dropoff_datetime").show(5)

+-------------------+-------------------+
|    pickup_datetime|   dropoff_datetime|
+-------------------+-------------------+
|2016-03-14 17:24:55|2016-03-14 17:32:30|
|2016-06-12 00:43:35|2016-06-12 00:54:38|
|2016-01-19 11:35:24|2016-01-19 12:10:48|
|2016-04-06 19:32:31|2016-04-06 19:39:40|
|2016-03-26 13:30:55|2016-03-26 13:38:10|
+-------------------+-------------------+
only showing top 5 rows

In [161]:
data.describe().show()

+-------+---------+------------------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+-----------------+
|summary|       id|         vendor_id|    pickup_datetime|   dropoff_datetime|   passenger_count|   pickup_longitude|   pickup_latitude|  dropoff_longitude|   dropoff_latitude|store_and_fwd_flag|    trip_duration|
+-------+---------+------------------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+-----------------+
|  count|  1458644|           1458644|            1458644|            1458644|           1458644|            1458644|           1458644|            1458644|            1458644|           1458644|          1458644|
|   mean|     null|1.5349502688798637|               null|               null|1.6645295219395548| -73.97348630489282|40.750920908391734|  -73.9734159469458|   40.7517995149002|              null|959.4922729603659|
| stddev|     null|0.4987771539074042|               null|               null| 1.314242167823114|0.07090185842270283| 0.032881186257633|0.07064326809720287|0.03589055560563683|              null|5237.431724497642|
|    min|id0000001|                 1|2016-01-01 00:00:17|2016-01-01 00:03:31|                 0|-121.93334197998047| 34.35969543457031|-121.93330383300781|   32.1811408996582|                 N|                1|
|    max|id4000000|                 2|2016-06-30 23:59:39|2016-07-01 23:02:03|                 9| -61.33552932739258| 51.88108444213867| -61.33552932739258|  43.92102813720703|                 Y|          3526282|
+-------+---------+------------------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+-----------------+

In [162]:
#from pyspark.sql.column import Column as col, _to_java_column, _to_seq

In [163]:
from pyspark.sql.types import *

Converting into timestamp

In [164]:
data_conv = data.withColumn("pickup_datetime", data["pickup_datetime"].cast(TimestampType()))

In [165]:
data_conv2 = data_conv.withColumn("dropoff_datetime", data_conv["dropoff_datetime"].cast(TimestampType()))

In [166]:
data_conv2.printSchema()

root
 |-- id: string (nullable = true)
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- trip_duration: integer (nullable = true)

In [167]:
import pyspark.sql.functions as f

New columns to show the pickup and dropoff days

In [168]:
data_conv3 = data_conv2.withColumn("pickup_day", f.date_format("pickup_datetime", "EEEE"))

In [169]:
data_conv3.show(5)

+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+
|       id|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|  pickup_longitude|   pickup_latitude| dropoff_longitude|  dropoff_latitude|store_and_fwd_flag|trip_duration|pickup_day|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+
|id2875421|        2|2016-03-14 17:24:55|2016-03-14 17:32:30|              1| -73.9821548461914| 40.76793670654297|-73.96463012695312|40.765602111816406|                 N|          455|    Monday|
|id2377394|        1|2016-06-12 00:43:35|2016-06-12 00:54:38|              1|-73.98041534423828|40.738563537597656|-73.99948120117188| 40.73115158081055|                 N|          663|    Sunday|
|id3858529|        2|2016-01-19 11:35:24|2016-01-19 12:10:48|              1| -73.9790267944336|40.763938903808594|-74.00533294677734|40.710086822509766|                 N|         2124|   Tuesday|
|id3504673|        2|2016-04-06 19:32:31|2016-04-06 19:39:40|              1|-74.01004028320312|   40.719970703125|-74.01226806640625| 40.70671844482422|                 N|          429| Wednesday|
|id2181028|        2|2016-03-26 13:30:55|2016-03-26 13:38:10|              1|-73.97305297851562|40.793209075927734| -73.9729232788086| 40.78252029418945|                 N|          435|  Saturday|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+
only showing top 5 rows

In [170]:
data_conv4 = data_conv3.withColumn("dropoff_day", f.date_format("dropoff_datetime", "EEEE"))

In [171]:
data_conv4.show()

+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+-----------+
|       id|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|  pickup_longitude|   pickup_latitude| dropoff_longitude|  dropoff_latitude|store_and_fwd_flag|trip_duration|pickup_day|dropoff_day|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+-----------+
|id2875421|        2|2016-03-14 17:24:55|2016-03-14 17:32:30|              1| -73.9821548461914| 40.76793670654297|-73.96463012695312|40.765602111816406|                 N|          455|    Monday|     Monday|
|id2377394|        1|2016-06-12 00:43:35|2016-06-12 00:54:38|              1|-73.98041534423828|40.738563537597656|-73.99948120117188| 40.73115158081055|                 N|          663|    Sunday|     Sunday|
|id3858529|        2|2016-01-19 11:35:24|2016-01-19 12:10:48|              1| -73.9790267944336|40.763938903808594|-74.00533294677734|40.710086822509766|                 N|         2124|   Tuesday|    Tuesday|
|id3504673|        2|2016-04-06 19:32:31|2016-04-06 19:39:40|              1|-74.01004028320312|   40.719970703125|-74.01226806640625| 40.70671844482422|                 N|          429| Wednesday|  Wednesday|
|id2181028|        2|2016-03-26 13:30:55|2016-03-26 13:38:10|              1|-73.97305297851562|40.793209075927734| -73.9729232788086| 40.78252029418945|                 N|          435|  Saturday|   Saturday|
|id0801584|        2|2016-01-30 22:01:40|2016-01-30 22:09:03|              6|-73.98285675048828| 40.74219512939453|-73.99208068847656|40.749183654785156|                 N|          443|  Saturday|   Saturday|
|id1813257|        1|2016-06-17 22:34:59|2016-06-17 22:40:40|              4| -73.9690170288086| 40.75783920288086|-73.95740509033203| 40.76589584350586|                 N|          341|    Friday|     Friday|
|id1324603|        2|2016-05-21 07:54:58|2016-05-21 08:20:49|              1|-73.96927642822266| 40.79777908325195|-73.92247009277344| 40.76055908203125|                 N|         1551|  Saturday|   Saturday|
|id1301050|        1|2016-05-27 23:12:23|2016-05-27 23:16:38|              1|-73.99948120117188|40.738399505615234|-73.98578643798828| 40.73281478881836|                 N|          255|    Friday|     Friday|
|id0012891|        2|2016-03-10 21:45:01|2016-03-10 22:05:26|              1|-73.98104858398438| 40.74433898925781| -73.9729995727539| 40.78998947143555|                 N|         1225|  Thursday|   Thursday|
|id1436371|        2|2016-05-10 22:08:41|2016-05-10 22:29:55|              1|-73.98265075683594| 40.76383972167969|-74.00222778320312| 40.73299026489258|                 N|         1274|   Tuesday|    Tuesday|
|id1299289|        2|2016-05-15 11:16:11|2016-05-15 11:34:59|              4|-73.99153137207031| 40.74943923950195|   -73.95654296875|  40.7706298828125|                 N|         1128|    Sunday|     Sunday|
|id1187965|        2|2016-02-19 09:52:46|2016-02-19 10:11:20|              2|-73.96298217773438| 40.75667953491211|-73.98440551757812|40.760719299316406|                 N|         1114|    Friday|     Friday|
|id0799785|        2|2016-06-01 20:58:29|2016-06-01 21:02:49|              1|-73.95630645751953|40.767940521240234|-73.96611022949219| 40.76300048828125|                 N|          260| Wednesday|  Wednesday|
|id2900608|        2|2016-05-27 00:43:36|2016-05-27 01:07:10|              1|-73.99219512939453| 40.72722625732422|-73.97465515136719|  40.7830696105957|                 N|         1414|    Friday|     Friday|
|id3319787|        1|2016-05-16 15:29:02|2016-05-16 15:32:33|              1|-73.95551300048828|40.768592834472656|-73.94876098632812| 40.77154541015625|                 N|          211|    Monday|     Monday|
|id3379579|        2|2016-04-11 17:29:50|2016-04-11 18:08:26|              1|-73.99116516113281| 40.75556182861328| -73.9992904663086|  40.7253532409668|                 N|         2316|    Monday|     Monday|
|id1154431|        1|2016-04-14 08:48:26|2016-04-14 09:00:37|              1|-73.99425506591797| 40.74580383300781| -73.9996566772461| 40.72334289550781|                 N|          731|  Thursday|   Thursday|
|id3552682|        1|2016-06-27 09:55:13|2016-06-27 10:17:10|              1|-74.00398254394531|  40.7130126953125|-73.97919464111328| 40.74992370605469|                 N|         1317|    Monday|     Monday|
|id3390316|        2|2016-06-05 13:47:23|2016-06-05 13:51:34|              1|   -73.98388671875|40.738197326660156|-73.99120330810547| 40.72787094116211|                 N|          251|    Sunday|     Sunday|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+-----------+
only showing top 20 rows

New columns to show the pickup and dropoff day numbers

In [172]:
data_conv5 = data_conv4.withColumn("pickup_day_no", f.date_format("pickup_datetime", "F").cast(IntegerType()))

In [173]:
data_conv5.printSchema()

root
 |-- id: string (nullable = true)
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- trip_duration: integer (nullable = true)
 |-- pickup_day: string (nullable = true)
 |-- dropoff_day: string (nullable = true)
 |-- pickup_day_no: integer (nullable = true)

In [174]:
data_conv6 = data_conv5.withColumn("dropoff_day_no", f.date_format("dropoff_datetime", "F").cast(IntegerType()))

In [175]:
data_conv6.printSchema()

root
 |-- id: string (nullable = true)
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- trip_duration: integer (nullable = true)
 |-- pickup_day: string (nullable = true)
 |-- dropoff_day: string (nullable = true)
 |-- pickup_day_no: integer (nullable = true)
 |-- dropoff_day_no: integer (nullable = true)

New columns to show the pickup and dropoff hours

In [176]:
data_conv7 = data_conv6.withColumn("pickup_hour", f.date_format("pickup_datetime", "H").cast(IntegerType()))

In [177]:
data_conv7.printSchema()

root
 |-- id: string (nullable = true)
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- trip_duration: integer (nullable = true)
 |-- pickup_day: string (nullable = true)
 |-- dropoff_day: string (nullable = true)
 |-- pickup_day_no: integer (nullable = true)
 |-- dropoff_day_no: integer (nullable = true)
 |-- pickup_hour: integer (nullable = true)

In [178]:
data_conv8 = data_conv7.withColumn("dropoff_hour", f.date_format("dropoff_datetime", "H").cast(IntegerType()))

In [179]:
data_conv8.printSchema()

root
 |-- id: string (nullable = true)
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- trip_duration: integer (nullable = true)
 |-- pickup_day: string (nullable = true)
 |-- dropoff_day: string (nullable = true)
 |-- pickup_day_no: integer (nullable = true)
 |-- dropoff_day_no: integer (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- dropoff_hour: integer (nullable = true)

New columns to show the pickup and dropoff months

In [180]:
data_conv9 = data_conv8.withColumn("pickup_month", f.date_format("pickup_datetime", "M").cast(IntegerType()))

In [181]:
data_conv9.printSchema()

root
 |-- id: string (nullable = true)
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- trip_duration: integer (nullable = true)
 |-- pickup_day: string (nullable = true)
 |-- dropoff_day: string (nullable = true)
 |-- pickup_day_no: integer (nullable = true)
 |-- dropoff_day_no: integer (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- dropoff_hour: integer (nullable = true)
 |-- pickup_month: integer (nullable = true)

In [182]:
data_conv10 = data_conv9.withColumn("dropoff_month", f.date_format("dropoff_datetime", "M").cast(IntegerType()))

In [183]:
data_conv10.printSchema()

root
 |-- id: string (nullable = true)
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- trip_duration: integer (nullable = true)
 |-- pickup_day: string (nullable = true)
 |-- dropoff_day: string (nullable = true)
 |-- pickup_day_no: integer (nullable = true)
 |-- dropoff_day_no: integer (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- dropoff_hour: integer (nullable = true)
 |-- pickup_month: integer (nullable = true)
 |-- dropoff_month: integer (nullable = true)

In [184]:
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType, StringType
from pyspark.sql.functions import udf
from pyspark.sql import Row

A function to calculate time of day per 4-hour period

In [185]:
def time_of_day(x):
    if x in range(6,10):
        return "Morning"
    elif x in range(10,14):
        return "Afternoon"
    elif x in range(14,18):
        return "Evening"
    else:
        return "Night"

col_time_of_day = udf(lambda z: time_of_day(z))
spark.udf.register("col_time_of_day", time_of_day, StringType())

New columns to show the pickup and dropoff time of the day

In [186]:
data_conv11 = data_conv10.withColumn("pickup_timeofday", col_time_of_day("pickup_hour"))

In [187]:
data_conv11.show()

+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+-----------+-------------+--------------+-----------+------------+------------+-------------+----------------+
|       id|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|  pickup_longitude|   pickup_latitude| dropoff_longitude|  dropoff_latitude|store_and_fwd_flag|trip_duration|pickup_day|dropoff_day|pickup_day_no|dropoff_day_no|pickup_hour|dropoff_hour|pickup_month|dropoff_month|pickup_timeofday|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+-----------+-------------+--------------+-----------+------------+------------+-------------+----------------+
|id2875421|        2|2016-03-14 17:24:55|2016-03-14 17:32:30|              1| -73.9821548461914| 40.76793670654297|-73.96463012695312|40.765602111816406|                 N|          455|    Monday|     Monday|            7|             7|         17|          17|           3|            3|         Evening|
|id2377394|        1|2016-06-12 00:43:35|2016-06-12 00:54:38|              1|-73.98041534423828|40.738563537597656|-73.99948120117188| 40.73115158081055|                 N|          663|    Sunday|     Sunday|            5|             5|          0|           0|           6|            6|           Night|
|id3858529|        2|2016-01-19 11:35:24|2016-01-19 12:10:48|              1| -73.9790267944336|40.763938903808594|-74.00533294677734|40.710086822509766|                 N|         2124|   Tuesday|    Tuesday|            5|             5|         11|          12|           1|            1|       Afternoon|
|id3504673|        2|2016-04-06 19:32:31|2016-04-06 19:39:40|              1|-74.01004028320312|   40.719970703125|-74.01226806640625| 40.70671844482422|                 N|          429| Wednesday|  Wednesday|            6|             6|         19|          19|           4|            4|           Night|
|id2181028|        2|2016-03-26 13:30:55|2016-03-26 13:38:10|              1|-73.97305297851562|40.793209075927734| -73.9729232788086| 40.78252029418945|                 N|          435|  Saturday|   Saturday|            5|             5|         13|          13|           3|            3|       Afternoon|
|id0801584|        2|2016-01-30 22:01:40|2016-01-30 22:09:03|              6|-73.98285675048828| 40.74219512939453|-73.99208068847656|40.749183654785156|                 N|          443|  Saturday|   Saturday|            2|             2|         22|          22|           1|            1|           Night|
|id1813257|        1|2016-06-17 22:34:59|2016-06-17 22:40:40|              4| -73.9690170288086| 40.75783920288086|-73.95740509033203| 40.76589584350586|                 N|          341|    Friday|     Friday|            3|             3|         22|          22|           6|            6|           Night|
|id1324603|        2|2016-05-21 07:54:58|2016-05-21 08:20:49|              1|-73.96927642822266| 40.79777908325195|-73.92247009277344| 40.76055908203125|                 N|         1551|  Saturday|   Saturday|            7|             7|          7|           8|           5|            5|         Morning|
|id1301050|        1|2016-05-27 23:12:23|2016-05-27 23:16:38|              1|-73.99948120117188|40.738399505615234|-73.98578643798828| 40.73281478881836|                 N|          255|    Friday|     Friday|            6|             6|         23|          23|           5|            5|           Night|
|id0012891|        2|2016-03-10 21:45:01|2016-03-10 22:05:26|              1|-73.98104858398438| 40.74433898925781| -73.9729995727539| 40.78998947143555|                 N|         1225|  Thursday|   Thursday|            3|             3|         21|          22|           3|            3|           Night|
|id1436371|        2|2016-05-10 22:08:41|2016-05-10 22:29:55|              1|-73.98265075683594| 40.76383972167969|-74.00222778320312| 40.73299026489258|                 N|         1274|   Tuesday|    Tuesday|            3|             3|         22|          22|           5|            5|           Night|
|id1299289|        2|2016-05-15 11:16:11|2016-05-15 11:34:59|              4|-73.99153137207031| 40.74943923950195|   -73.95654296875|  40.7706298828125|                 N|         1128|    Sunday|     Sunday|            1|             1|         11|          11|           5|            5|       Afternoon|
|id1187965|        2|2016-02-19 09:52:46|2016-02-19 10:11:20|              2|-73.96298217773438| 40.75667953491211|-73.98440551757812|40.760719299316406|                 N|         1114|    Friday|     Friday|            5|             5|          9|          10|           2|            2|         Morning|
|id0799785|        2|2016-06-01 20:58:29|2016-06-01 21:02:49|              1|-73.95630645751953|40.767940521240234|-73.96611022949219| 40.76300048828125|                 N|          260| Wednesday|  Wednesday|            1|             1|         20|          21|           6|            6|           Night|
|id2900608|        2|2016-05-27 00:43:36|2016-05-27 01:07:10|              1|-73.99219512939453| 40.72722625732422|-73.97465515136719|  40.7830696105957|                 N|         1414|    Friday|     Friday|            6|             6|          0|           1|           5|            5|           Night|
|id3319787|        1|2016-05-16 15:29:02|2016-05-16 15:32:33|              1|-73.95551300048828|40.768592834472656|-73.94876098632812| 40.77154541015625|                 N|          211|    Monday|     Monday|            2|             2|         15|          15|           5|            5|         Evening|
|id3379579|        2|2016-04-11 17:29:50|2016-04-11 18:08:26|              1|-73.99116516113281| 40.75556182861328| -73.9992904663086|  40.7253532409668|                 N|         2316|    Monday|     Monday|            4|             4|         17|          18|           4|            4|         Evening|
|id1154431|        1|2016-04-14 08:48:26|2016-04-14 09:00:37|              1|-73.99425506591797| 40.74580383300781| -73.9996566772461| 40.72334289550781|                 N|          731|  Thursday|   Thursday|            7|             7|          8|           9|           4|            4|         Morning|
|id3552682|        1|2016-06-27 09:55:13|2016-06-27 10:17:10|              1|-74.00398254394531|  40.7130126953125|-73.97919464111328| 40.74992370605469|                 N|         1317|    Monday|     Monday|            6|             6|          9|          10|           6|            6|         Morning|
|id3390316|        2|2016-06-05 13:47:23|2016-06-05 13:51:34|              1|   -73.98388671875|40.738197326660156|-73.99120330810547| 40.72787094116211|                 N|          251|    Sunday|     Sunday|            5|             5|         13|          13|           6|            6|       Afternoon|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+-----------+-------------+--------------+-----------+------------+------------+-------------+----------------+
only showing top 20 rows

In [188]:
data_conv12 = data_conv11.withColumn("dropoff_timeofday", col_time_of_day("dropoff_hour"))

In [189]:
data_conv12.show()

+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+-----------+-------------+--------------+-----------+------------+------------+-------------+----------------+-----------------+
|       id|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|  pickup_longitude|   pickup_latitude| dropoff_longitude|  dropoff_latitude|store_and_fwd_flag|trip_duration|pickup_day|dropoff_day|pickup_day_no|dropoff_day_no|pickup_hour|dropoff_hour|pickup_month|dropoff_month|pickup_timeofday|dropoff_timeofday|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+-----------+-------------+--------------+-----------+------------+------------+-------------+----------------+-----------------+
|id2875421|        2|2016-03-14 17:24:55|2016-03-14 17:32:30|              1| -73.9821548461914| 40.76793670654297|-73.96463012695312|40.765602111816406|                 N|          455|    Monday|     Monday|            7|             7|         17|          17|           3|            3|         Evening|          Evening|
|id2377394|        1|2016-06-12 00:43:35|2016-06-12 00:54:38|              1|-73.98041534423828|40.738563537597656|-73.99948120117188| 40.73115158081055|                 N|          663|    Sunday|     Sunday|            5|             5|          0|           0|           6|            6|           Night|            Night|
|id3858529|        2|2016-01-19 11:35:24|2016-01-19 12:10:48|              1| -73.9790267944336|40.763938903808594|-74.00533294677734|40.710086822509766|                 N|         2124|   Tuesday|    Tuesday|            5|             5|         11|          12|           1|            1|       Afternoon|        Afternoon|
|id3504673|        2|2016-04-06 19:32:31|2016-04-06 19:39:40|              1|-74.01004028320312|   40.719970703125|-74.01226806640625| 40.70671844482422|                 N|          429| Wednesday|  Wednesday|            6|             6|         19|          19|           4|            4|           Night|            Night|
|id2181028|        2|2016-03-26 13:30:55|2016-03-26 13:38:10|              1|-73.97305297851562|40.793209075927734| -73.9729232788086| 40.78252029418945|                 N|          435|  Saturday|   Saturday|            5|             5|         13|          13|           3|            3|       Afternoon|        Afternoon|
|id0801584|        2|2016-01-30 22:01:40|2016-01-30 22:09:03|              6|-73.98285675048828| 40.74219512939453|-73.99208068847656|40.749183654785156|                 N|          443|  Saturday|   Saturday|            2|             2|         22|          22|           1|            1|           Night|            Night|
|id1813257|        1|2016-06-17 22:34:59|2016-06-17 22:40:40|              4| -73.9690170288086| 40.75783920288086|-73.95740509033203| 40.76589584350586|                 N|          341|    Friday|     Friday|            3|             3|         22|          22|           6|            6|           Night|            Night|
|id1324603|        2|2016-05-21 07:54:58|2016-05-21 08:20:49|              1|-73.96927642822266| 40.79777908325195|-73.92247009277344| 40.76055908203125|                 N|         1551|  Saturday|   Saturday|            7|             7|          7|           8|           5|            5|         Morning|          Morning|
|id1301050|        1|2016-05-27 23:12:23|2016-05-27 23:16:38|              1|-73.99948120117188|40.738399505615234|-73.98578643798828| 40.73281478881836|                 N|          255|    Friday|     Friday|            6|             6|         23|          23|           5|            5|           Night|            Night|
|id0012891|        2|2016-03-10 21:45:01|2016-03-10 22:05:26|              1|-73.98104858398438| 40.74433898925781| -73.9729995727539| 40.78998947143555|                 N|         1225|  Thursday|   Thursday|            3|             3|         21|          22|           3|            3|           Night|            Night|
|id1436371|        2|2016-05-10 22:08:41|2016-05-10 22:29:55|              1|-73.98265075683594| 40.76383972167969|-74.00222778320312| 40.73299026489258|                 N|         1274|   Tuesday|    Tuesday|            3|             3|         22|          22|           5|            5|           Night|            Night|
|id1299289|        2|2016-05-15 11:16:11|2016-05-15 11:34:59|              4|-73.99153137207031| 40.74943923950195|   -73.95654296875|  40.7706298828125|                 N|         1128|    Sunday|     Sunday|            1|             1|         11|          11|           5|            5|       Afternoon|        Afternoon|
|id1187965|        2|2016-02-19 09:52:46|2016-02-19 10:11:20|              2|-73.96298217773438| 40.75667953491211|-73.98440551757812|40.760719299316406|                 N|         1114|    Friday|     Friday|            5|             5|          9|          10|           2|            2|         Morning|        Afternoon|
|id0799785|        2|2016-06-01 20:58:29|2016-06-01 21:02:49|              1|-73.95630645751953|40.767940521240234|-73.96611022949219| 40.76300048828125|                 N|          260| Wednesday|  Wednesday|            1|             1|         20|          21|           6|            6|           Night|            Night|
|id2900608|        2|2016-05-27 00:43:36|2016-05-27 01:07:10|              1|-73.99219512939453| 40.72722625732422|-73.97465515136719|  40.7830696105957|                 N|         1414|    Friday|     Friday|            6|             6|          0|           1|           5|            5|           Night|            Night|
|id3319787|        1|2016-05-16 15:29:02|2016-05-16 15:32:33|              1|-73.95551300048828|40.768592834472656|-73.94876098632812| 40.77154541015625|                 N|          211|    Monday|     Monday|            2|             2|         15|          15|           5|            5|         Evening|          Evening|
|id3379579|        2|2016-04-11 17:29:50|2016-04-11 18:08:26|              1|-73.99116516113281| 40.75556182861328| -73.9992904663086|  40.7253532409668|                 N|         2316|    Monday|     Monday|            4|             4|         17|          18|           4|            4|         Evening|            Night|
|id1154431|        1|2016-04-14 08:48:26|2016-04-14 09:00:37|              1|-73.99425506591797| 40.74580383300781| -73.9996566772461| 40.72334289550781|                 N|          731|  Thursday|   Thursday|            7|             7|          8|           9|           4|            4|         Morning|          Morning|
|id3552682|        1|2016-06-27 09:55:13|2016-06-27 10:17:10|              1|-74.00398254394531|  40.7130126953125|-73.97919464111328| 40.74992370605469|                 N|         1317|    Monday|     Monday|            6|             6|          9|          10|           6|            6|         Morning|        Afternoon|
|id3390316|        2|2016-06-05 13:47:23|2016-06-05 13:51:34|              1|   -73.98388671875|40.738197326660156|-73.99120330810547| 40.72787094116211|                 N|          251|    Sunday|     Sunday|            5|             5|         13|          13|           6|            6|       Afternoon|        Afternoon|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+-----------+-------------+--------------+-----------+------------+------------+-------------+----------------+-----------------+
only showing top 20 rows

In [190]:
data_conv12.printSchema()

root
 |-- id: string (nullable = true)
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- trip_duration: integer (nullable = true)
 |-- pickup_day: string (nullable = true)
 |-- dropoff_day: string (nullable = true)
 |-- pickup_day_no: integer (nullable = true)
 |-- dropoff_day_no: integer (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- dropoff_hour: integer (nullable = true)
 |-- pickup_month: integer (nullable = true)
 |-- dropoff_month: integer (nullable = true)
 |-- pickup_timeofday: string (nullable = true)
 |-- dropoff_timeofday: string (nullable = true)

In [191]:
from geopy.distance import great_circle

A function to calculate the distance between two coordinates

In [192]:
def cal_distance(pickup_lat , pickup_long , dropoff_lat, dropoff_long):
    start_coordinates = pickup_lat, pickup_long
    stop_coordinates = dropoff_lat, dropoff_long
    
    return great_circle(start_coordinates, stop_coordinates).km

cal_distance_udf = udf(lambda x1,x2,y1,y2: cal_distance(x1,x2,y1,y2))
spark.udf.register("cal_distance_udf", cal_distance, DoubleType())

New column to show the distances in km of trips

In [193]:
data_conv13 = data_conv12.withColumn("distance", cal_distance_udf("pickup_latitude", "pickup_longitude", "dropoff_latitude", "dropoff_longitude"))

In [194]:
data_conv13.printSchema()

root
 |-- id: string (nullable = true)
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- trip_duration: integer (nullable = true)
 |-- pickup_day: string (nullable = true)
 |-- dropoff_day: string (nullable = true)
 |-- pickup_day_no: integer (nullable = true)
 |-- dropoff_day_no: integer (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- dropoff_hour: integer (nullable = true)
 |-- pickup_month: integer (nullable = true)
 |-- dropoff_month: integer (nullable = true)
 |-- pickup_timeofday: string (nullable = true)
 |-- dropoff_timeofday: string (nullable = true)
 |-- distance: string (nullable = true)

In [195]:
data_conv13.show()

+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+-----------+-------------+--------------+-----------+------------+------------+-------------+----------------+-----------------+------------------+
|       id|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|  pickup_longitude|   pickup_latitude| dropoff_longitude|  dropoff_latitude|store_and_fwd_flag|trip_duration|pickup_day|dropoff_day|pickup_day_no|dropoff_day_no|pickup_hour|dropoff_hour|pickup_month|dropoff_month|pickup_timeofday|dropoff_timeofday|          distance|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+-----------+-------------+--------------+-----------+------------+------------+-------------+----------------+-----------------+------------------+
|id2875421|        2|2016-03-14 17:24:55|2016-03-14 17:32:30|              1| -73.9821548461914| 40.76793670654297|-73.96463012695312|40.765602111816406|                 N|          455|    Monday|     Monday|            7|             7|         17|          17|           3|            3|         Evening|          Evening|1.4985228965338449|
|id2377394|        1|2016-06-12 00:43:35|2016-06-12 00:54:38|              1|-73.98041534423828|40.738563537597656|-73.99948120117188| 40.73115158081055|                 N|          663|    Sunday|     Sunday|            5|             5|          0|           0|           6|            6|           Night|            Night|1.8055097193475127|
|id3858529|        2|2016-01-19 11:35:24|2016-01-19 12:10:48|              1| -73.9790267944336|40.763938903808594|-74.00533294677734|40.710086822509766|                 N|         2124|   Tuesday|    Tuesday|            5|             5|         11|          12|           1|            1|       Afternoon|        Afternoon| 6.385107515168457|
|id3504673|        2|2016-04-06 19:32:31|2016-04-06 19:39:40|              1|-74.01004028320312|   40.719970703125|-74.01226806640625| 40.70671844482422|                 N|          429| Wednesday|  Wednesday|            6|             6|         19|          19|           4|            4|           Night|            Night|1.4855005212623669|
|id2181028|        2|2016-03-26 13:30:55|2016-03-26 13:38:10|              1|-73.97305297851562|40.793209075927734| -73.9729232788086| 40.78252029418945|                 N|          435|  Saturday|   Saturday|            5|             5|         13|          13|           3|            3|       Afternoon|        Afternoon|1.1885901383944022|
|id0801584|        2|2016-01-30 22:01:40|2016-01-30 22:09:03|              6|-73.98285675048828| 40.74219512939453|-73.99208068847656|40.749183654785156|                 N|          443|  Saturday|   Saturday|            2|             2|         22|          22|           1|            1|           Night|            Night|1.0989440117279554|
|id1813257|        1|2016-06-17 22:34:59|2016-06-17 22:40:40|              4| -73.9690170288086| 40.75783920288086|-73.95740509033203| 40.76589584350586|                 N|          341|    Friday|     Friday|            3|             3|         22|          22|           6|            6|           Night|            Night|1.3262804506275783|
|id1324603|        2|2016-05-21 07:54:58|2016-05-21 08:20:49|              1|-73.96927642822266| 40.79777908325195|-73.92247009277344| 40.76055908203125|                 N|         1551|  Saturday|   Saturday|            7|             7|          7|           8|           5|            5|         Morning|          Morning|  5.71498870406324|
|id1301050|        1|2016-05-27 23:12:23|2016-05-27 23:16:38|              1|-73.99948120117188|40.738399505615234|-73.98578643798828| 40.73281478881836|                 N|          255|    Friday|     Friday|            6|             6|         23|          23|           5|            5|           Night|            Night|1.3103551339564383|
|id0012891|        2|2016-03-10 21:45:01|2016-03-10 22:05:26|              1|-73.98104858398438| 40.74433898925781| -73.9729995727539| 40.78998947143555|                 N|         1225|  Thursday|   Thursday|            3|             3|         21|          22|           3|            3|           Night|            Night| 5.121168796554712|
|id1436371|        2|2016-05-10 22:08:41|2016-05-10 22:29:55|              1|-73.98265075683594| 40.76383972167969|-74.00222778320312| 40.73299026489258|                 N|         1274|   Tuesday|    Tuesday|            3|             3|         22|          22|           5|            5|           Night|            Night|3.8061447716224244|
|id1299289|        2|2016-05-15 11:16:11|2016-05-15 11:34:59|              4|-73.99153137207031| 40.74943923950195|   -73.95654296875|  40.7706298828125|                 N|         1128|    Sunday|     Sunday|            1|             1|         11|          11|           5|            5|       Afternoon|        Afternoon|3.7731012685407403|
|id1187965|        2|2016-02-19 09:52:46|2016-02-19 10:11:20|              2|-73.96298217773438| 40.75667953491211|-73.98440551757812|40.760719299316406|                 N|         1114|    Friday|     Friday|            5|             5|          9|          10|           2|            2|         Morning|        Afternoon|1.8594856470308148|
|id0799785|        2|2016-06-01 20:58:29|2016-06-01 21:02:49|              1|-73.95630645751953|40.767940521240234|-73.96611022949219| 40.76300048828125|                 N|          260| Wednesday|  Wednesday|            1|             1|         20|          21|           6|            6|           Night|            Night|0.9916862514488629|
|id2900608|        2|2016-05-27 00:43:36|2016-05-27 01:07:10|              1|-73.99219512939453| 40.72722625732422|-73.97465515136719|  40.7830696105957|                 N|         1414|    Friday|     Friday|            6|             6|          0|           1|           5|            5|           Night|            Night| 6.382844772995149|
|id3319787|        1|2016-05-16 15:29:02|2016-05-16 15:32:33|              1|-73.95551300048828|40.768592834472656|-73.94876098632812| 40.77154541015625|                 N|          211|    Monday|     Monday|            2|             2|         15|          15|           5|            5|         Evening|          Evening|0.6565789536540859|
|id3379579|        2|2016-04-11 17:29:50|2016-04-11 18:08:26|              1|-73.99116516113281| 40.75556182861328| -73.9992904663086|  40.7253532409668|                 N|         2316|    Monday|     Monday|            4|             4|         17|          18|           4|            4|         Evening|            Night|3.4280908046572045|
|id1154431|        1|2016-04-14 08:48:26|2016-04-14 09:00:37|              1|-73.99425506591797| 40.74580383300781| -73.9996566772461| 40.72334289550781|                 N|          731|  Thursday|   Thursday|            7|             7|          8|           9|           4|            4|         Morning|          Morning| 2.538675404286568|
|id3552682|        1|2016-06-27 09:55:13|2016-06-27 10:17:10|              1|-74.00398254394531|  40.7130126953125|-73.97919464111328| 40.74992370605469|                 N|         1317|    Monday|     Monday|            6|             6|          9|          10|           6|            6|         Morning|        Afternoon| 4.605207581115351|
|id3390316|        2|2016-06-05 13:47:23|2016-06-05 13:51:34|              1|   -73.98388671875|40.738197326660156|-73.99120330810547| 40.72787094116211|                 N|          251|    Sunday|     Sunday|            5|             5|         13|          13|           6|            6|       Afternoon|        Afternoon|1.3032730583033074|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+----------+-----------+-------------+--------------+-----------+------------+------------+-------------+----------------+-----------------+------------------+
only showing top 20 rows

In [196]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local[*]")\
        .appName("New York Cab Info")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()
print("A Technical Case Study of New York Cab Trips")

A Technical Case Study of New York Cab Trips

In [197]:
# os.environ['PYSPARK_SUBMIT_ARGS']= spark.sparkContext.addPyFile('../')

In [198]:
spark

Sql query to display thw total trips

In [209]:
data_conv13.createOrReplaceTempView("data_conv13")
spark.sql("SELECT COUNT(id) AS total_trip from data_conv13").show()

+----------+
|total_trip|
+----------+
|   1458644|
+----------+

To show the number of trips made according to the day of the week

In [208]:
spark.sql("SELECT pickup_day, COUNT(id) AS total_trips FROM data_conv13 GROUP BY pickup_day ORDER BY total_trips DESC").show()

+----------+-----------+
|pickup_day|total_trips|
+----------+-----------+
|    Friday|     223533|
|  Saturday|     220868|
|  Thursday|     218574|
| Wednesday|     210136|
|   Tuesday|     202749|
|    Sunday|     195366|
|    Monday|     187418|
+----------+-----------+

number of trips made according to the day of the week

In [210]:
spark.sql("SELECT pickup_day, COUNT(vendor_id) AS total_trips FROM data_conv13 GROUP BY pickup_day ORDER BY total_trips DESC").show()

+----------+-----------+
|pickup_day|total_trips|
+----------+-----------+
|    Friday|     223533|
|  Saturday|     220868|
|  Thursday|     218574|
| Wednesday|     210136|
|   Tuesday|     202749|
|    Sunday|     195366|
|    Monday|     187418|
+----------+-----------+

To show the number of trips made according to the time of day

In [211]:
spark.sql("SELECT pickup_timeofday, COUNT(vendor_id) AS total_trips_time_of_day FROM data_conv13 GROUP BY pickup_timeofday ORDER BY total_trips_time_of_day DESC").show()

+----------------+-----------------------+
|pickup_timeofday|total_trips_time_of_day|
+----------------+-----------------------+
|           Night|                 670922|
|         Evening|                 286899|
|       Afternoon|                 277259|
|         Morning|                 223564|
+----------------+-----------------------+

To show the number of trips made according to the time of day

In [212]:
spark.sql("SELECT pickup_timeofday, COUNT(id) AS total_trips_time_of_day FROM data_conv13 GROUP BY pickup_timeofday ORDER BY total_trips_time_of_day DESC").show()

+----------------+-----------------------+
|pickup_timeofday|total_trips_time_of_day|
+----------------+-----------------------+
|           Night|                 670922|
|         Evening|                 286899|
|       Afternoon|                 277259|
|         Morning|                 223564|
+----------------+-----------------------+

To show the number of km traveled per day of the week

In [213]:
spark.sql("SELECT pickup_day, SUM(distance) AS km_traveled_per_day FROM data_conv13 GROUP BY pickup_day ORDER BY km_traveled_per_day DESC").show()

+----------+-------------------+
|pickup_day|km_traveled_per_day|
+----------+-------------------+
|    Friday|  758725.5431796226|
|  Thursday|   747678.685340323|
|  Saturday|  736412.1719889197|
|    Sunday|  726454.2760555025|
| Wednesday|  702919.7880676301|
|   Tuesday|  678329.0532968312|
|    Monday|  668483.0576452918|
+----------+-------------------+

Save to file

In [205]:
data_conv13.write.csv("/content/drive/MyDrive/New-York-Data/processed_final_data.csv", header=True)

To display the number of partitions

In [206]:
data_conv13.rdd.getNumPartitions()

2